<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/about.css">
<!-- /Remove Style -->

<header>
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="font-weight-bold display-4 text-navy">What is Innovate Birmingham</h1>
        </div>
    </div>
</header>
<section class="section-padding bg-light">
    <div class="container text-center">
        <h2 class="mb-4">The Problem</h2>
        <div class="row">
            <div class="col-md-6">
                <h4 class="display-4">5,300</h4>
                <p>IT jobs posted in Birmingham in 2015</p>
            </div>
            <div class="col-md-6">
                <h4 class="display-4">26,000</h4>
                <p>Disconnect Youth in Birmingham</p>
            </div>
        </div>
    </div>
</section>
<section class="section-padding section-plan">
    <div class="container">
        <h2 class="text-center mb-4">The Plan</h2>
        <p>There's a mismatch of supply & demand in the Birimgham Tech Scene. We have more jobs to fill that we have qualified
            and trained applicants. This is where Innovate Birmingham comes in.</p>
    </div>
</section>
<section class="section-padding bg-primary">
    <div class="container text-center text-white">
        <h2 class="pb-4">How Did It Happen?</h2>
        <p class=" text-center ">In 2017, Birmingham was awarded a ~$6 million dollar grant as part of the Obama's Promise Grant, this enabled Birmingham
            to train 925 Jefferson County residents valuable tech skills.</p>
    </div>
</section>
<section class="section-big-innovate section-padding">
    <div class="container">
        <h2 class="text-center">Evaluating the Tech Ecosystem</h2>
        <p class="text-center">Along with Innovate Birmingham Workforce there was another branch of Innovate Birmingham, or as a we loving referred to it "Big Innovate", that was responsible for evaluating and researching the tech ecosystem in Birmingham. Throughout their year and a half long tenure, Big Innovate produced a number of reports, which reveal the gaps and issues found in the Birmingham tech scene. These reports can be found here.</p>
        <div class="card-columns mt-4">
            {{#each main.reports}}
            <div>
                <div class="card index-{{@index}}">
                    <div class="card-bg" style="background-image: url('/static/img/about/{{img}}');"></div>
                    <div class="card-body">
                        <header class="text-info">
                            <p class="card-text mb-2">
                                <a href="{{link}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
                            </p>
                        </header>
                        <a href="{{link}}" target="_blank" rel="noopener noreferrer">
                            <button class="btn btn-primary">READ MORE</button>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>