<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Join Our Team</h1>
        </div>
    </div>
</header>
<section class="section-padding section-careers d-flex align-items-center">
    <div class="container">
        <h2 class="text-center mb-3 font-weight-600">No Positions Available at This Time</h2>
        <h5 class="text-center">Thank you for your interest in employment with Innovate Birmingham.
            Unfortunately,
            we do
            not have any open positions at
            this time.szdflhkijs;arGIOUJSGDijk;lkbsdGILJK;BSDGiuhlj;bgsdaffijl;bgdsabijkl;
        </h5>

        {{!-- {{#each main.departments}}
        <div class="row mx-3">
            <h1 class="department-header py-md-2 w-100 font-weight-600">{{department}}</h1>
            <div class="header-rule w-100">
                <hr class="w-25 mx-md-4">
            </div>
            {{#each openings}}
            <div class="d-flex flex-row mr-5">
                <div>
                    <h3 class="pt-md-2 w-100 font-weight-500">{{title}}</h3>
                    <h6 class="mb-3 w-100 font-weight-500">{{employmentType}}</h6>
                    <div class="description-container w-100">

                    </div>
                    <a href={{applicationLink}} target="_blank">
                        <button class="btn btn-primary">Learn More</button>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}} --}}
    </div>
</section>
<section class="section-padding section-values bg-primary">
    <div class="values-container d-flex justify-content-center mt-4 text-center">
        <h2 class="text-white w-100 mb-4">Our Core Values</h2>
        {{!--
        <pre class="job-description text-white">{{main.coreValues}}</pre> --}}
        <div class="job-description text-white">
            <h5>Inclusive Collaboration</h5>
            <p>We believe that diverse perspectives make us stronger.</p>
            <p>Each of our students, staff, and partners have expertise to offer, so we want their voices heard.</p>
            <p>We value clear and direct communication that fosters effective collaboration.</p>
            <p>We value honesty- we speak up to address challenges as well as celebrate successes.</p>
            <p>Our word is our bond - we do what we say we will do.</p>
            <br>

            <h5>Students First</h5>
            <p>We believe in the talent and capability of our students.</p>
            <p>We empower our students with opportunities that enable our city to prosper.</p>
            <p>We prioritize student needs over other demands.</p>
            <p>We are a reliable and robust community of support for our students.</p>
            <p>We are honest about what we know and what we don’t know.</p>
            <p></p>
            <br>

            <h5>Be Authentic</h5>
            <p>We share our ideas and perspectives and take ownership of finding solutions.</p>
            <p>We ask questions when we are uncertain or disagree.</p>
            <p>We are transparent with one another and honest when we fail.</p>
            <p></p>
            <br>

            <h5>Results Not Rhetoric</h5>
            <p>We move the needle.</p>
            <p>We take ownership and initiative to use data to identify problems and propose solutions.</p>
            <p>We are realistic about the challenges that arise and are empowered to solve problems.</p>
            <p>We are committed to innovating: we have a fail - fast, fail - safe environment.</p>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/careers.css">
<!-- /Remove Style -->