<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Data Analytics</h1>
            <h4 class="lead-in font-weight-500 text-center mb-4">Reveal the Inner Workings of Tomorrow</h4>
            <a href="/apply" target="_blank" rel="noopener noreferrer">
                <button class="btn apply-btn font-weight-600">APPLY NOW</button>
            </a>
        </div>
    </div>
</header>
<section class="section-deadlines section-padding bg-white text-center">
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="lead-in font-weight-500 text-center mb-4">Reveal the Inner Workings of Tomorrow</h4>
            <hr class="mb-5" />
        </div>

        <div class="d-flex flex-row justify-content-center mb-4">
            <p class="mr-2">•</p>
            <h4>We are now accepting applications for our Cohort 16 Data Analytics Bootcamp, which will begin in January 2022.</h4>
            <p class="ml-2">•</p>
        </div>
        {{!-- <h4 class="text-black">Applications for the Data Analytics course will be open until April 20, 2021.</h4>
        <h4 class="text-black">Pre-work Due April 26, 2021</h4>
        <h5 class="text-black">Start of Cohort 14: May 3, 2021</h5> --}}
    </div>
</section>
<section class="section-padding section-introduction bg-primary">
    <div class="container text-center text-white">
        <h3 class="mb-5">Using Data to Answer the Why</h3>
        <p class="font-weight-500">Data Analysis isn't just about math and statistics and nice looking graphs and
            charts. At the heart of Data
            Analysis is the question of Why? With tons of data
            occupying servers around the world, being able to make sense of it all to make informed decisions isn't a
            choice anymore. It's a necessity.
            Learning how to
            visualize, cleanse, interpet, and interact with data through tools like Power BI, Tableau, Access, and
            Excel is a key step to translating all those 1s and 0s into valuable business decisions.</p>
    </div>
</section>
<section class="section-padding section-covalence">
    <div class="container text-center text-black">
        <a href="http://www.thinkdatasol.com/" target="_blank">
            <img id="thinkdata" class="mb-4" src="/static/img/logos/thinkdata_logo.png" alt="ThinkData Solutions">
        </a>
        <p class="font-weight-500">Our currciulum partner ThinkData Solutions, Inc (@ThinkDataSol) was founded by Robin
            Hunt and Daniel Bishop.
            Their custom built
            curriculum teaches how to get started in the path of data analytics and is a great starting point for a
            career
            in data science. ThinkData has been educating people on data technologies and actively practicing data
            analysis
            for over two decades. Learn how to wrangle data into meaningful data sets by just getting started with the
            basics. Solving problems by working with data is one of the most valuable skills a person can have.
            ThinkDataSol helps you learn to see the data everywhere it exists and turn it into meaningful insight. If
            you are critical thinker, love to solve problems, and enjoy helping people see the big picture, then data
            analysis is a natural next step.</p>
    </div>
</section>
<section class="section-padding section-about bg-yellow font-weight-500  pb-3">
    <div class="container row justify-content-between mx-auto">
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-database"></i>

            </div>
            <p>Our Data Analytics course is a 14-week tech bootcamp designed to train future technology professionals in
                the fundamentals of data analysis.</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <a href="https://goo.gl/maps/cxhEG3Z12vs" target="_blank" rel="noopener noreferrer">
                <p>Innovation Depot</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-clock"></i>
            </div>
            <p>9am - 5pm, M - F</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-question-circle"></i>
            </div>
            <p class="about-description">Send us your questions at <a href="mailto:admissions@innovatebham.com">admissions@innovatebham.com</a></p>
        </div>
    </div>
</section>
<section class="section-eligibility section-padding bg-white">
    <div class="container d-flex flex-column align-items-center">
        <h4 class="mb-4">Minimum Eligibility Requirements</h4>
        <ul>
            <li class="font-weight-500">Resident of the following counties of Central Alabama: Jefferson, Shelby,
                Blount, St.
                Clair, Chilton, and
                Walker.</li>
            <li class="font-weight-500 pb-1">Age 17 or older</li>
            <li class="font-weight-500 pb-1">Under or Unemployed</li>
            <li class="font-weight-500 pb-1">Must have a GED or High School Diploma</li>
            <li class="font-weight-500 pb-1">Must NOT be enrolled in any other training program or higher level
                institution
                </p>
        </ul>
    </div>
</section>
<section class="section-ncwit d-flex bg-primary justify-content-center mx-0">
    <div id="ncwit-container" class="container">
        <div id="ncwit-row-1" class="row">

            <div id="ncwit-pic" class="col-lg">
                <img class="img-fluid rounded shadow" src="../public/img/home/ncwit-banner.png" alt="" />
            </div>
            <div id="ncwit-text" class="col-lg ">
                <p class="text-white">Are you looking to enter the tech workforce? We have partnered with The National
                    Center for Women & Information Technology (NCWIT) to offer fully-funded scholarships for women in
                    Central Alabama to pursue a career in tech along with additional incentives upon becoming a
                    member
                    of NCWIT. </p>

                <div id="ncwit-perks" class="card ul-card bg-light shadow align-items-center">
                    <h6 class="card-title pb-0 mb-0">NCWIT Perks</h6>
                    <div class="card-body text-black">
                        <ul>
                            <li>Connecting with women throughout Alabama and the US with jobs</li>
                            <li>Professional development opportunities</li>
                            <li>Networking events</li>
                            <li>And more!</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="more-ncwit-info" class="row text-white mt-2 justify-content-center mt-4">
            <h6>For more information on how to apply, email
                <a href="mailto:admissions@innovatebham.com">admissions@innovatebham.com</a>
        </div>
        </h6>
    </div>
</section>
<section class="section-padding section-curriculum bg-light">
    <div class="container">
        <h3 class="text-primary text-center mb-4">What Will You Learn?</h3>
        <h6 class="text-center text-primary mb-5">These are just some of the technologies you will learn in the course.
            Don't let it intimidate you!
            <strong>No experience is required.</strong> This course was specifically designed to take someone with zero
            experience
            and teach them what they need to know to
            <strong>actually work</strong> as a junior-level IT Professional. We are here for you every step of the
            way!
        </h6>
        <div id="accordion" class="accordion hardware-accordion">
            {{#each main.curriculum}}
            <div class="card">
                <div class="card-header d-flex flex-wrap align-items-center" id="heading-{{id}}" data-toggle="collapse"
                    href="#collapse-{{id}}" data-target="#collapse-{{id}}" aria-expanded="true"
                    aria-controls="collapse-{{id}}">
                    <h5 class="mb-0 accordion-title font-weight-400 text-primary">
                        <i class="{{icon}} mr-2"></i>
                        {{headline}}
                    </h5>
                </div>
                <div id="collapse-{{id}}" class="collapse" aria-labelledby="heading-{{id}}" data-parent="#accordion">
                    {{#if children}}
                    <div id="accordion-nested-{{id}}" class="accordion accordion-nested-{{id}}">
                        {{#each children}}
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center"
                                id="heading-{{id}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{id}}"
                                        aria-expanded="true" aria-controls="#collapse-{{id}}">
                                        <i class="{{icon}} mr-2"></i>
                                        {{headline}}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-{{id}}" class="collapse" aria-labelledby="heading-{{id}}"
                                data-parent="#accordion-nested-{{../id}}">
                                <div class="card-body">
                                    {{description}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div>
                        <p class="my-4 px-4">{{{ description }}}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<section class="section-video">
    <div id="video-container">
        <iframe width="1275" height="717" src="https://www.youtube.com/embed/O8BMORVXKNI?modestbranding=1&rel=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/data-analytics.css">
<!-- /Remove Style -->