<div class="header-container mt-4 mb-1">
    <h1 class="m-4 font-weight-bold">Frequently Asked Questions</h1>
</div>

{{#each main.categories}}
<h1 class="title">{{title}}</h1>
{{#each entries}}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    {{}}</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
</div>
 
{{/each}}




{{!-- <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">
        <div class="panel-group" id="category-accordion{{id}}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                {{#each main.categories}}
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                            data-parent="#category-accordion{{id}}" href="#collapse{{id}}" aria-expanded="true"
                            aria-controls="collapse{{id}}">
                            {{title}}
                        </a>
                    </h3>
                    {{#each entries}}
                    <div class="accordion md-accordion accordion-1" id="question-accordion" role="tablist">
                        <div class="card">
                            <div id="collapse{{id}}" class="collapse show" role="tabpanel"
                                aria-labelledby="heading{{id}}" data-parent="#question-accordion">
                                <div class="card-body">
                                    <div class="row my-4">
                                        <div class="col-md-8">
                                            <h5 class="font-weight-bold mb-3 black-text">{{question}}</h5>
                                            <p class="mb-0">{{answer}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section> --}}

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/faq.css">
<!-- /Remove Style -->