<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/home.css">
<!-- /Remove Style -->

<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold text-white">Every Career Needs a Beginning</h1>
            <p class="lead">Free Premier Tech Training in the Heart of the Magic City</p>
            <button type="button" class="btn btn-primary">APPLY NOW</button>
        </div>
    </div>
</header>
<section class="section-numbers section-padding">
    <div class="row container mx-auto text-center d-flex justify-content-center align-items-center">
        <div class="col-sm m-4">
            <h4 class="display-4">$5,999,770</h4>
            <p class="font-weight-300">Awarded to Innovate Birmigham</p>
        </div>
        <div class="col-sm m-4">
            <h4 class="display-4">925</h4>
            <p class="font-weight-300">Students to be trained</p>
        </div>
        <div class="col-sm m-4">
            <h4 class="display-4">100%</h4>
            <p class="font-weight-300">Free... Seriously</p>
        </div>
    </div>
</section>
<section class="section-courses section-padding bg-primary">
    <div class="container">
        <a href="/courses/">
            <h3 class="text-center text-white pb-5">Courses</h3>
        </a>
        <div class="row">
            {{#each main.courses}}
            <div class="col-lg-4 my-2">
                <a class="card text-center" href="{{href}}">
                    <div class="card-header">
                        <i class="{{icon}} mr-2"></i>{{headline}}</div>
                    <div class="card-body">
                        <p class="card-text">{{description}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<section class="section-companies section-padding">
    <h4 class="text-center pb-5">Our graduates are being hired at the best companies in Birmingham</h4>
    <div class="carousel slide" data-interval="4000" data-ride="carousel">
        <div class="carousel-inner">
            {{#each main.hired}}
            <div class="carousel-item {{ternary @index 'active' ''}}">
                <div class="row mt-4">
                    {{#each this}}
                    <div class="col-md-3 logo" style="background-image: url('{{logo}}');"></div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{!-- <section class="section-connect section-padding bg-primary">
    <div class="container">
        <h3 class="text-center pb-5 text-white">From the Blog</h3>
        <div class="card-columns">
            {{#each main.blogs}}
            <article class="card mb-3 index-{{@index}}">
                <a href="/blog/{{attributes.slug}}/">
                    <img class="card-img-top img-fluid" src="{{attributes.image}}" alt="{{attributes.title}} hero">
                </a>
                <div class="card-body">
                    <header class="text-info">
                        <h4 class="card-title">
                            <a href="/blog/{{attributes.slug}}/">{{attributes.title}}</a>
                        </h4>
                        <span class="card-subtitle">{{attributes.author}} - </span>
                        <time class="card-subtitle nowrap font-weight-bold" datetime="{{attributes.readTime}}m">{{attributes.readTime}} minute read</time>
                    </header>
                    <p class="card-text mt-3">{{attributes.description}}</p>
                    <footer class="text-center">
                        <a href="/blog/{{attributes.slug}}/" class="btn btn-primary text-white">READ MORE</a>
                    </footer>
                </div>
            </article>
            {{/each}}
        </div>
    </div>
</section> --}}
<section class="section-details section-padding bg-light">
    <div class="container">
        <h3 class="text-center pb-5">Why Choose Innovate Bham?</h3>
        <div class="row">
            {{#each main.benefits}}
            <div class="col-md-6 item">
                <div class="row mb-2">
                    <div class="text-center col-2">
                        <i class="{{icon}}"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold text-primary">{{headline}}</h5>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>