<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Full-Stack Software Development</h1>
            <a href="/apply" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-primary text-white">APPLY NOW</button>
            </a>
        </div>
    </div>
</header>
<section class="section-deadlines section-padding bg-white text-center">
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="lead-in font-weight-500 text-center mb-4">Powered by I Am Bham</h4>
            <hr class="mb-5" />
        </div>
    </div>
    {{!-- <h3 class="text-navy">Next Class Starts Jan 14, 2019</h3> --}}
    <h4 class="text-black">Applications due April 5, 2021</h4>
    <h4 class="text-black">Pre-work Due April 26, 2021</h4>
    <h5 class="text-black">Start of Cohort 14: May 3, 2021</h5>
</section>
{{!-- <section class="section-padding section-covalence">
    <div class="container text-center">
        <a href="https://covalence.io" target="_blank">
            <img class="mb-4" src="/static/img/logos/covalence_logo.png" alt="Covalence">
        </a>
        <p>Our curriculum partner Covalence was founded by three former Microsoft Engineers. Their custom built
            curriculum teaches you what you
            need to know to land a job developing software. Their mission is to teach you cutting edge technologies but
            to
            not bog you down with stuff you don't need to know when you're first learning to code. A lot of the basics
            of programming are learning the syntax, structure, and best practices. But great developers are resourceful
            problem solvers at heart, and this curriculum, taught by industry experts, is carefully designed to not
            only teach you the rules of coding but how you can solve real world problems with it. To put it simply,
            Covalence
            helps you <strong>learn how to think like a software engineer</strong>, not just talk like one.</p>
    </div>
</section> --}}
<section class="section-padding section-about bg-yellow">
    <div class="container row justify-content-between mx-auto">
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-laptop-code"></i>
            </div>
            <p class="about-description">The Innovate Birmingham Web Development bootcamp is a 14-week coding bootcamp designed to teach Full-Stack Software
                Engineering through
                short-term, fast-track, intensive training.</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <a href="https://goo.gl/maps/cxhEG3Z12vs" target="_blank" rel="noopener noreferrer">
                <p class="about-description">Innovation Depot</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-clock"></i>
            </div>
            <p class="about-description">9am - 5pm, M - F</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon-container mb-4">
                <i class="fas fa-question-circle"></i>
            </div>
            <p class="about-description">Send us your questions at admissions@innovatebham.com!</p>
        </div>
    </div>
</section>
<section class="section-eligibility section-padding bg-white">
    <div class="container text-center">
        <h4 class="mb-4">Minimum Eligibility Requirements</h4>
        <p class="font-weight-500">Resident of the following counties of Central Alabama: Jefferson, Shelby, Blount, St.
            Clair, Chilton, and
            Walker.</p>
        <p class="font-weight-500">Age 17 or older</p>
        <p class="font-weight-500">Under or Unemployed</p>
        <p class="font-weight-500">Must have a GED or High School Diploma</p>
        <p class="font-weight-500">Must NOT be enrolled in any other training program or higher level institution</p>
    </div>
</section>
<section class="section-padding section-curriculum bg-primary">
    <div class="container">
        <h3 class="text-white text-center mb-4">What Will You Learn?</h3>
        <p class="font-weight-500 text-center text-white mb-5">These are just some of the technologies you will learn in
            the course.
            Don't let it intimidate you!
            <strong>No experience is required.</strong> This course was specifically designed to take someone with zero
            coding experience
            and teach them what they need to know to
            <strong>Actually Work</strong> as a junior-level developer. We are here for you every step of the way!
        </p>
        <div id="accordion" class="accordion">
            {{#each main.curriculum}}
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between align-items-center" id="heading-{{id}}"
                    href="#collapse-{{id}}" data-toggle="collapse" data-target="#collapse-{{id}}" aria-expanded="true"
                    aria-controls="collapse-{{id}}">
                    <h5 class="mb-0 accordion-title font-weight-400 text-primary">
                        <i class="{{icon}} mr-2"></i>
                        {{headline}}
                    </h5>
                    <h6>{{ timeline }}</h6>
                </div>
                <div id="collapse-{{id}}" class="collapse" aria-labelledby="heading-{{id}}" data-parent="#accordion">
                    {{#if children}}
                    <div id="accordion-nested-{{id}}" class="accordion accordion-nested-{{id}}">
                        {{#each children}}
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center"
                                id="heading-{{id}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{id}}"
                                        aria-expanded="true" aria-controls="#collapse-{{id}}">
                                        <i class="{{icon}} mr-2"></i>
                                        {{headline}}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-{{id}}" class="collapse" aria-labelledby="heading-{{id}}"
                                data-parent="#accordion-nested-{{../id}}">
                                <div class="card-body">
                                    {{description}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div>
                        <p class="my-4 px-4">{{{ description }}}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<section class="section-video">
    <div id="video-container">
        <iframe width="1275" height="717" src="https://www.youtube.com/embed/O8BMORVXKNI?modestbranding=1&rel=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/software.css">
<!-- /Remove Style -->