<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Testimonials</h1>
            <h3 class="lead">Learn. Evolve. Succeed.</h3>
        </div>
    </div>
</header>
<section class="main-container bg-light">
    <div class="container text-center">
        {{#each main.testimonials}}
        <div class="section-card-container card index-{{@index}}">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" src="{{img}}" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">{{firstName}} {{lastName}}</h4>
                <h5 class="display-7">{{role}}</h5>
                <p id="textArea-{{id}}" class="message-actual collapse">{{message}}</p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse" data-target="#textArea-{{id}}"
                    aria-expanded="false" aria-controls="textArea-{{@index}}">
                    Read More
                </button>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<!-- Remove Script -->
<script src="/public/js/testimonials.js"></script>
<!-- /Remove Script -->
<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/testimonials.css">
<!-- /Remove Style -->
