<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="msapplication-tap-highlight" content="no">
<base href="/"> {{!-- Canonical --}}
<link rel="canonical" href="{{head.meta.canonical}}">
<meta property="og:url" content="{{head.meta.canonical}}"> {{!-- /Canonical --}} {{#if head.meta.amp }} {{!-- AMP --}}
<link rel="amphtml" href="{{head.meta.canonical}}amp/"> {{!-- /AMP --}} {{/if}} {{#if head.meta.robots }}
<meta name="robots" content="{{head.meta.robots}}"> {{/if}} {{!-- Favicon --}}
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/fav/favicon-16x16.png">
<link rel="manifest" href="/static/img/fav/site.webmanifest">{{!-- /Favicon --}} {{!-- Title --}}
<title>{{default head.title "Innovate Birmingham"}}</title>
<meta property="og:title" content="{{default head.title 'Innovate Birmingham'}}"> {{!-- /Title --}}
<meta name="twitter:card" content="summary_large_image">
<meta property="fb:app_id" content="327982684338553"> {{!-- Description --}}
<meta name="description" content="{{default head.meta.description 'Default description of my website/company.'}}">
<meta property="og:description"
  content="{{default head.meta.description 'Default description of my website/company.'}}">
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-N9PKGSP');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88381551-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-88381551-1');
</script>
<!-- /Google Analytics -->
<link href='https://cdn-images.mailchimp.com/embedcode/classic-10_7.css' rel='stylesheet' type='text/css'>
<style type='text/css'>
  #mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
  }
</style>
<!-- Remove Style -->
<link rel="stylesheet" href="/static/css/base.css">
<!-- /Remove Style -->

<script src='https://www.google.com/recaptcha/api.js'></script>

{{!-- Organization ld+json --}}
<script type="application/ld+json"
  data-sd-snippet="sd">{"@context":"http://schema.org/","@type":"Organization","name":"Innovate Birmingham","url":"https://innovatebham.com/","logo":{"@type": "ImageObject","url": "{{head.meta.baseUrl}}public/img/logos/logo.png","width": 326,"height": 60},"sameAs":["https://www.facebook.com/InnovateBirmingham/","https://www.instagram.com/innovatebhamworks/","https://www.linkedin.com/company/innovatebirmingham/"]}</script>
{{!-- /Organization ld+json --}} {{!-- Breadcrumb ld+json --}}
<script type="application/ld+json"
  data-sd-snippet="sd">{"@context": "http://schema.org","@type": "BreadcrumbList","itemListElement": [{{#each head.meta.breadcrumbs}}{"@type": "ListItem","position": {{index}},"item": {"@id": "{{url}}","name": "{{name}}"}}{{#unless @last}},{{/unless}}{{/each}}]}</script>
{{!-- /Breadcrumb ld+json --}}
<!-- Facebook Pixel Code -->
<script>
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '209243972939807');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=209243972939807&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->